In [279]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/comppp/comp2.xlsx
/kaggle/input/comppp/comp1.xlsx

In [280]:
df_1['2018 - Q1'] = df_1['2018 - Q1'].str.replace('\n', ' ')
df_2['2018 - Q2'] = df_2['2018 - Q2'].str.replace('\n', ' ')

In [281]:
df_1.rename(columns={'2018 - Q1':'2018'}, inplace= True)
df_2.rename(columns={'2018 - Q2':'2018'}, inplace= True)

In [282]:
compare = pd.concat([df_1,df_2], axis=1)

In [283]:
df_1 = pd.read_excel('/kaggle/input/comppp/comp1.xlsx')
df_2 = pd.read_excel('/kaggle/input/comppp/comp2.xlsx')

In [284]:
compare.fillna('X', inplace= True)
dif = compare.iloc[: , :7] == compare.iloc[: , 7:]
dif.replace({False: 'X', True: ' '}, inplace=True)
dif

/tmp/ipykernel_36/514198177.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'X' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  compare.fillna('X', inplace= True)
/tmp/ipykernel_36/514198177.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'X' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  compare.fillna('X', inplace= True)

  Start End Duration 2018 Vert. Position Vert. Line Comment
0
1
2         X        X    X                                 X
3         X        X    X                                 X
4
5
6
7                       X                                 X
8                                                         X
9         X        X                   X          X       X

In [285]:
df_mask = compare.iloc[:, :7].compare(compare.iloc[:, 7:], keep_shape=True).notnull().astype('int').rename(columns={'self': 'Data_q1', 'other': 'Data_q2'}, level=-1)

df_compare = compare.iloc[: , :7].compare(compare.iloc[: , 7:], keep_shape=True, keep_equal=True).rename(columns={'self': 'Data_q1', 'other': 'Data_q2'}, level=-1)

In [286]:
def apply_color(x):
    colors = {1: 'lightyellow', 0: 'white'}
    return df_mask.applymap(lambda val: 'background-color: {}'.format(colors.get(val,'')))
def format_float(val):
    if isinstance(val, float):
        return f'{val:.10f}'
    return val

data_compare = df_compare.style.apply(apply_color, axis=None).format(format_float)

In [287]:
data_compare

/tmp/ipykernel_36/118245843.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df_mask.applymap(lambda val: 'background-color: {}'.format(colors.get(val,'')))